body {
	font: 13px Verdana, sans-serif;
}
h1 {
	font: 21px Georgia, "Times New Roman", Times, serif;
}
h2 {
	font: 18px Georgia, "Times New Roman", Times, serif;
}
h3 {
	font: 15px Georgia, "Times New Roman", Times, serif;
}
h4 {
	font: 12px Georgia, "Times New Roman", Times, serif;
}
h5 {
	font: 9px Georgia, "Times New Roman", Times, serif;
}
